@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'epilogue';
  
}
body{
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%,98%);
}
.navbar {
  font-family:'epilogue';
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2vh;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color:hsl(0, 0%, 41%) ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  color:hsl(0, 0%, 41%) ;
  padding: 14px 16px;
  font-family:'epilogue'; 
  margin: 0; 
}
.dropbtn:hover {
  color: hsl(0, 0%, 8%);
}
.dropbtn {
  position: relative;
  right: 1vh;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:hsl(0, 0%, 100%);
  min-width: 160px;
  box-shadow: 0px 20px 16px 1px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 18px;
  font-family: 'epilogue';

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: hsl(0, 0%, 41%);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: hsl(0, 0%, 100%);
}
.logo_drop{
  margin-right: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: hsl(0, 0%,98%);
}
.logo{
  position: absolute;
  top: 2vh;
  left: 20vh;
}
.head-3{
  position: relative;
  left: 40vh;
  top: 0.6vh;
}

button{
 padding-left:20px;
 padding-top:10px;
 padding-right:20px;
 padding-bottom:10px;
 border-radius:15px;
 color: hsl(0, 0%, 41%);
 background-color: hsl(0, 0%, 98%);
 border: 2px solid;
 border-color: hsl(0, 0%, 41%);
}
button:hover{
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
}
.arrow_down{
margin-bottom: 2px;
}
.home_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.hero_container{
  width: 40%;
  margin-top: 50px;
  padding-right: 100px;
}
.image_container{
  width: 100%;
  padding-right: 100px;
 
}
.img_hero{
  width: auto;
  height: 80vh;
}
h1{
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 55px;
  
}
p{
  padding-bottom: 30px;
  line-height: 25px;
  color: hsl(0, 0%, 41%);
  letter-spacing: 0.5px;

}
.learn{
  margin-bottom:20px;
  background-color: hsl(0, 0%, 8%);
  color:hsl(0, 0%, 98%);
  padding-top: 15px;
  padding-bottom:15px;
  padding-left:30px;
  padding-right:30px;
  border-radius: 12px;
  font-weight: 700;
  border: 1px solid hsl(0, 0%, 8%);
  line-height: 20px; 
  font-size: 15px;
}
.learn:hover{
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  box-shadow: 0 0 0 1px hsl(0, 0%, 8%);
  font-weight: 700;
  font-size: 15px;
  
}
.bottom_logos{
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
  align-items: center;
  margin-left: -15px;
}
.login{
  position: relative;
  top: -0.5vh;
}

@media screen (max-width:375px) {
  .container{
  
}
}